body {
  font-family: "Space Mono";
  background-color: #C2DED1;
  color: #2E0249;
  text-align: center;
  padding: 25px;
}

li {
  display: inline;
}

ul {
  padding: 0px;
}

.card {
  background-color: #EEEEEE;
  padding: 50px;
  width: 500px;
  margin: 25px auto;
  border-radius: 5px;
  border: 1px solid #570A57;
  box-shadow: 0 0 17px rgba(0,0,0,0.1);
}

#profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

a {
  
  text-decoration:None;
  font-weight:530;
  color:#78866b;
  font-size:18px;
  
}

a:hover{
  
  color:#383D33;
  transition:0.3s;
  
}

p {
   
   line-height:20px;
   
}
